# Ignore configuration files that may contain sensitive information.
.idea
.vagrant
backup
index.html

# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files

#Ignore local settings.
settings.local.php

# Ignore Composer-managed dependencies.
#Other
drush
vendor
node_modules
docroot/_ignore

# OS specific mess.
Thumbs.db
.DS_Store

#eclipse
.project
.buildpath
/.settings

#NetBeans
nbproject
